.header{
background-color: rgb(43, 226, 183); 
color: aliceblue;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.openlogin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;width: 100px;
}
.nav{
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;height: 350px;
}
.left{
    text-align: center;
    width: 33%;
    height: 350px;

}
.middle{
    text-align: center;
    width: 33%;
    height: 350px;
}
.right{
    text-align: center;
    width:33% ;
    height: 350px;
}

.main :hover{
    box-sizing: border-box;
    border: 1px solid blueviolet ;
}
.footer{
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




